.main-content{
    text-align: center;
}
.twit-image{
    position:fixed;
    display:block;
}
#twitter-feed{
    display: inline-block;
    max-height: 240px;
    max-width: 500px;
    border: 2px solid #717171;
    border-radius: 2px;

}
.twitter_border_lines{
    border-bottom:1px solid rgba(0, 0, 255, 0.41);
    background-color: #bce8f1;
    width: 100%;
    /*font-weight: 600;*/
    line-height: 30px;
    padding:10px;
    display: inline-block;

}
.contain-tweets{
    margin-top: 10px;
}
td{
    padding:10px;
}
.contain-tweets{
    visibility: hidden;
}

/*-------------styling for spotify api albums------------------*/
.sp_album_title{
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    font-size:1.5em;
    position: absolute;
    bottom: 0px;
    left: 100px;
    color: white;
    transform: translateY(100%);
    transition-duration: .6s;
}
.sp_container{
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 250px;
    width:250px;
}
.sp_container:hover .sp_album_title{
    transform: translateY(0%);
}