body{

    background: url("images/vinyl.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/**************background style for search page*****************/
#logo{
    padding: 15px 0 15px 0;
    margin-left: 10px;
}
div.main-content{
    width: 100%;
}
.contain-input{
    padding-top: 5px;
}
.main-content h1{
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 5px;
}
.embedTrack{
    margin-top: 5px;
}

.main-container{
    margin-top: 10vh;
    text-align: center;
}
h1{
    font-size: 70px;
}
.navbar{
    background-color: rgba(0, 0, 0, .8);
}
.instructions{
    color: #f4f4f4;
    text-shadow: 2px 2px #222222;
}
.artist_base{
    color: whitesmoke;
    /*font-size: larger;*/
    text-shadow: 3px 2px #222222;
}
/********************Footer to hold about us link and social media links**********************/
footer{
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 5vh;
    color: white;
    font-size: 2em;

}

footer p{
    vertical-align: text-bottom;
    letter-spacing: 3px;
    margin: 4px 0 0 4px;
}
.social-icon{
    float: right;
    letter-spacing: 10px;
    vertical-align: text-bottom;
    margin: 4px;
}
.yt_styling{
    height: 500px;
    visibility: visible;
}
.main-content{
    text-align: center;
}
.main-title{
    text-align: center;
}
.twit-image{
    position:fixed;
    display:block;
}
#SCplayer{
    display: inline-block;
    width:90%;
}
#twitter-feed{
    display: inline-block;
    max-height: 600px;
    max-width: 500px;
    border: 2px solid #717171;
    border-radius: 2px;
    background-color: #2e6da4;
    visibility: hidden;
    margin-top: 10vh;
    text-align: center;
}

.visualAudible_body{
    display:inline-block;
}
nav{
    margin-top: 15px;
    background-color: #5e5e5e;
    color: white;
}
.nav-list-option{
    border-bottom: 1.7px solid #464646;
}

.twitter_border_lines{
    border-bottom:1px solid rgba(0, 0, 255, 0.41);
    background-color: #bce8f1;
    width: 100%;
    /*font-weight: 600;*/
    line-height: 20px;
    padding:10px;
    display: inline-block;
}
.contain-player{
    margin: 10px 10px;
    visibility: hidden;
    text-align:center;
}
td{
    padding:10px;
}
th{
    background-color: white;
}
.ticketmaster-container{
    margin-bottom: 50px;
}
/*-------------styling for spotify api albums------------------*/
.sp_album_title{
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    font-size:1.5em;
    position: absolute;
    bottom: 0;
    left: 100px;
    color: white;
    transform: translateY(100%);
    transition-duration: .6s;
}
.sp_container{
    position: relative;
    overflow: hidden;
    text-align: center;

}
.sp_container:hover .sp_album_title{
    transform: translateY(0%);
}
.sp_album_area{
    display: inline;
}
.spotify_albums_list{
    text-align: center;
}
.about{
    display: inline;

}
li{
    display: inline-block;
}
li img{
    height: 250px;
    width:250px;
    padding: 8px;
}
#channelLink {
    display: inline;
    text-align:left;
}
#channelLink a {
    color: #4F634F;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.9);

}
.tmRow{
    color:white;
    background-color: rgba(21, 21, 21, 0.8);
}
/*-------wikipedia-------*/
.wiki-div{
    background-color: rgba(224, 224, 224, 0.8);
    padding: 10px;
    text-align: left;
    font-weight: 500;
    margin: 10px 10px 10vh 10px;
}